/* Pannel */

.contactsPannel {
  width: 95%;
  height: 80%;
  background: #ffff;
  border-radius: 12px;
  position: relative;
  top: 5%;
  left: 2.5%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

/* Buttons */

.groupButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  width: 95%;
}

.generalButton {
  text-decoration: none;
  border-radius: 8px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  height: 40px;
  color: #02213B;
  background-color: #E7E9EF;
}

.primaryButton {
  width: 15%;
}

.downloadButton {
  width: 12%;
}

.filterButton {
  width: 10%;
}

/* Search */

.wrapper {
  position: relative;
  width: 60%;
}

.icon {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #DADADA;
}

.input {
  box-sizing: border-box;
  padding-left: 35px;
  border: none;
  box-shadow: inset 0 0 0 1.5px #DADADA;
  border-radius: 8px;
  width: 100%;
  height: 40px;
}

.input::placeholder {
  font-size: 16px;
  color: #DADADA;
}

.table{
  width: 95%;
  overflow-y: scroll;
}