.nav {
  background: linear-gradient(to right, #41A67D, #02213B);
  padding: 15px;
  display: flex;
  align-items: center;
}

.logo{
  margin: 0 5vw;
}

.homeButton{
  color: #ffff;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80px;
}