.styledTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
}

.styledTable th,
.styledTable td {
    padding: 12px 15px;
}

.styledTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styledTable tbody tr:nth-of-type(even) {
    background-color: #FAFAFA;
}

.styledTable thead {
    background: #E7E9EF;
    border: 1px solid #dddddd;
}

.buttonCell {
    display: flex;
}

.styledTable thead tr,
.styledTable thead th {
    color: #02213B;
    text-align: left;
}

.emptyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emptyContainer p {
    color: #737373;
}

.email{
    text-decoration: none;
    color: #105e9d;
}